/**************************************************************************************************
stili per azzeramento differenze browser ed impostazioni generali
**************************************************************************************************/
body{
	padding:0px;
	margin:0px;
}

form,
div#main,
div.main_div {
    margin: 0px auto;		/*centra negli altri browsers*/
    text-align: left;		/*ripristina l' allineamento*/
}

h1, h2, h3, h4, h5, h6, ul li, ol li{
	margin:0px;
	padding:0px;
}

p {
	margin: 0px;
	padding: 0px;
}

img{
	border:0px;
}

body, div, h1, a, table, select, input, button, textarea {
	font-family: Tahoma;
	font-size: 100%;			/* azzera la differenza di dimensione dei tag H */
	color: #3D3D3D;
}

select, input, button, textarea {
	border: 1px solid #5B5B5B;
}

body{
    text-align: center;   /*centra in IE 5.x */
    background-color: #ffffff;
    }
    

div.header {text-align:left;}    
div.main_div {}