{% extends "base.htm" %}
{% block title %}{{contatto.cognome}} {{contatto.nome}}{% endblock%}
{% block content %}
<h1>{{contatto.cognome}} {{contatto.nome}}</h1>

<table>
    <caption>elenco recapiti</caption>
     <thead>
        <tr>
            <td colspan="3">
             codice fiscale:   {{contatto.cf}}
                
            </td>
        </tr>
        <tr>
            <td colspan="3">
             data di nascita:   {{contatto.data_nascita|date:"j F \d\e\l Y"}}
            </td>
        </tr>
        <tr>
            <td colspan="3">
             sesso:   {{contatto.sesso}}
            </td>
        </tr>
     </thead>
    <tfoot>
        <tr>
            <td colspan="3">
             <small>data inserimento:   {{contatto.data_creazione|date:"j F \d\e\l Y"}}</small>
            </td>
        </tr>
    </tfoot>
    {% for recapito in recapiti %}
    <tbody>
    <tr>
        <td>{{recapito.tipo_del.descrizione}}</td>
        <td>{{recapito.etichetta}}</td>
        <td>{{recapito.numero}}</td>
    </tr>
    </tbody>
{% endfor%}
    
</table>
<p>
    <a href="/rubrica/" >indietro</a>
</p>
{% endblock%}